html > * {
    background-color: black;
    height: 100%;
    border: 0%;
    margin: 0%;
    height:100%;
    width: 56.25%;
    overflow: auto;
}

/*
    height: 1920px;
    width: 1080px;
*/

body{
    background-color: black;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}


h2{
    color: white;
    font-size:200%;
    padding-top: 7.5%;
    padding-left: 7.5%;
    padding-bottom: 2%;
    background-color: black;
}

p {
    color: white;
    font-size: 100%;
    padding-left: 7.5%;
    padding-bottom: 5%;
    width: 80%;
}

#toggle-button-cost{
    width: 100%;
    height: 50%;
    left:0px;
    top:100%;
    bottom:0px;
    
}

.btn {
    background-color: white;
    position: absolute;
    color:black;
    height: 8%;
    width: 25%;
    font-size: 100%;
    font-weight: 500;
    align-items: center;
    padding-top: 1%;
    border-radius: 0px;
    float: left;
}

a.btn.btn-sm {
    color: black;
}

a:active {
    background-color: black;
    color: white;
}


.solid-white >* {
    background-color: black;
}


#toggle-button-cost .px-0 {
    box-sizing: content-box;
    width: 100%;
    border-color: white;
}
