#about-container {
    background: #000;
    border: solid 1px #000;
}

#about-container h2{
    color: white;
    font-size:4rem;
    font-weight: 500;
    padding-top: 7.5%;
    padding-left: 7.5%;
    padding-bottom: 2%;
    background-color: black;
}

#about-container p {
    color: white;
    font-size: 1.5rem;
    padding-left: 7.5%;
    padding-bottom: 2.5%;
    width: 75%;
    font-weight: 500;
}

/* Responsive */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    #about-container h2 {
        font-size: 1.5rem;
    }
    #about-container p {
        font-size: 0.75rem;
        width: 90%;
        padding-bottom: 0%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}