.h-20 {
    height: 20%;
}
.h-80 {
    height: 80%;
}


#home-container {
    color: white;
    background: #000;
    border: solid 1px #000;
    overflow: scroll;
}

#home-container h1 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

#home-container p {
    font-size:0.75rem;
}

#home-content {
    overflow: scroll;
}

#scan-image-text {
    font-size: 2rem;
    font-weight: 500;
}

#img-scan-module {
    width: 100%;
}

#home-container mark {
    color: white;
    padding: 0 0.1em;
}

#blue {
    background-color: #1540c4;
}

#yellow {
    background-color: #f1a650;
}

#purple {
    background-color: #93278f;
}

#orange {
    background-color: #eb4927;
}

#teal {
    background-color: #00a99d;
}

.content-block {
    height: 100vh;
}

/* SCAN ANOTHER */
.scan-another {
    z-index: 1;
    color: white;
    display: none;
    pointer-events: none;
}

.scan-another p {
    font-size: 1rem!important;
}

.scan-another img {
    width: 4rem;
}

/* Responsive */
/*mobile (320px-425px)*/
@media (min-width: 320px) and (max-width: 425px) {
    #home-container p {
        font-size: 0.73rem;
    }

    #scan-image-text {
        font-size: 0.73rem;
    }
    
    #home-container h1 {
        font-size:1.48rem;
        letter-spacing: 0.03rem;
        padding-bottom: 0.89%;
    }
}

/* Small devices (425px and up) */
@media (min-width: 425px) and (max-width: 633px) {
    #home-container p {
        font-size: 0.79rem;
    }

    #scan-image-text {
        font-size: 0.79rem;
    }
    
    #home-container h1 {
        font-size:1.97rem;
        letter-spacing: 0.04rem;
        padding-bottom: 1.18%;
    }
}

/* Medium devices (tablets, 633px and up) */
@media (min-width: 633px) and (max-width: 768px) {
    #home-container p {
        font-size: 1.17rem;
    }

    #scan-image-text {
        font-size: 1.17rem;
    }
    
    #home-container h1 {
        font-size: 2.93rem;
        letter-spacing: 0.06rem;
        padding-bottom: 1.76%;
    } 
}

@media (min-width: 768px) and (max-width: 992px) {
    #home-container p {
        font-size: 1.42rem;
    }

    #scan-image-text {
        font-size: 1.42rem;
    }
    
    #home-container h1 {
        font-size: 3.56rem;
        letter-spacing: 0.07em;
        padding-bottom: 2%;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #home-container p {
        font-size: 1.84rem;
    }

    #scan-image-text {
        font-size: 1.84rem;
    }
    
    #home-container h1 {
        font-size: 4.59rem;
        letter-spacing: 0.09rem;
        padding-bottom: 2.5%;
    }
    .scan-another {
        display: block;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #home-container p {
        font-size: 2.22rem;
    }

    #scan-image-text {
        font-size: 2.22rem;
    }
    
    #home-container h1 {
        font-size: 5.56rem;
        letter-spacing: 0.11rem;
        padding-bottom: 3%;
    }
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #home-container p {
        font-size: 2.59rem;
    }

    #scan-image-text {
        font-size: 2.59rem;
    }
    
    #home-container h1 {
        font-size: 6.48rem;
        letter-spacing: 0.13rem;
        padding-bottom: 3.35%;
    }
}

@media (min-aspect-ratio: 4/5) {
    #img-scan-module {
        width: 75%;
    }
}