html > * {
    border: 0%;
    margin: 0%;
    height:100% !important;
    width: 100% !important;
    /* width: 56.25%; */
    overflow: auto;
}

body{
    background-color: white;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: 0px;
}

/*Container*/

.content-block {
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: scroll;
}

.px-xl-5 > * {
    padding-left: 0;
    padding-right: 0;
}

#viz-container {
    overflow: scroll;
    /* max-height: calc(100vh - 234px); */
    height:100%;
    display: block;
}

#motivations-content, #cost-content {
    max-height: calc(100vh - 234px);
    height:100%;
    overflow: scroll;
}

#motivations-content {
    padding-bottom: 5vh;
}

#frame-motivations {
    padding-right: 5vh;
    overflow: scroll;
}


#frame-cost {
    overflow: scroll;
}

/*Rotate alert*/
#rotate-warning {
    font-size: 1.5rem;
    background-color:black;
    border-color: black;
    color: white;
    width: fit-content;
    height: fit-content;
    position:absolute;
    top: 45%;
    left: 25%;
    transform: rotate(90deg);
    z-index:50;
}

.alert-dismissible .btn-close {
    left:0;
}

#black-box {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 75%;
    z-index: 10;
}


/*SVG*/
svg#viz-motivations {
    width:100%;
    height:100%;
}

svg#cost-svg {
    width:100%;
    height:100%;
}


/* SVG TRANSITION ANIMATION */
div#transition {
    background-color: #0070ff;
    display: none;
}
#transition, .cell rect {
    transition: linear 0.3s all;
}
.grid-color {
    display: none;
}

/*Rotation Message Box*/
div#rotation-box {
    width:50%;
    height:5%;
    position: fixed;
    background-color: red;            
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    transform: rotate(90deg);
}
/* .col {
    height: 100%;
} */

/* BUTTON */

a.btn.btn-sm {
    color: black;
}

#btn-income {
    border-right: none;
    border-left: none;
}

/* HEADING */
#motivations-heading {
    font-size: 0.75rem;
    font-weight: 500;
    padding-left: 0%;
    line-height: 120%;
}

#costs-heading {
    font-size: 0.75rem;
    font-weight: 500;
    padding-left: 0%;
    line-height: 120%;
}

/*Motivation Container*/
#motivations-container, #cost-container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-left: 5vw;
    padding-right: 5vw;
}

/* Button - arrow for slides */

#carousel-slides button {
    border: 0;
    background-color: #28448c;
    color: white;
    /* font-size: 2rem; */
    height: 10%;
    padding-right: 5%;
    padding-left: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
}

/*Narratives*/
.m_narrative_1, .c_narrative_1 {
    color: white;
    /* font-size: 4vmin; */
    font-weight: 500;
    /* width: 100%;
    height: 100%; */
} 

.m_narrative_2, .c_narrative_2 {
    color: white;
    /* font-size: 4vmin; */
    font-weight: 500;
    /* width: 100%;
    height: 100%; */
}

/* CAROUSEL CAPTION */

.carousel-caption {
    /* top: 10%; */
    /* bottom: auto; */
    width: 100%;
    height: 100%;
    position: unset;
}


/* LABELS */
.chart-labels {
    display: none;
}
.chart-labels:hover {
    cursor: default;
}
#viz-motivations text {
    font-size: 1.4rem;
}
/* .chart-text text {
    fill: #1540C4;
} */

/* SCROLLYTELLING */
#map-state-4 {
    padding-bottom: 0px;
}
#scene-0, #scene-1 {
    padding-top: 0px;
}
#narrative-scroll, 
#narrative-scroll .scenes,
#narrative-scroll .scenes div {
    pointer-events: none;
}
.scrolly-container-motivations .ribbon-image img {
    filter: grayscale(1);
    -webkit-mix-blend-mode: hard-light;
    -moz-mix-blend-mode: hard-light;
    -ms-mix-blend-mode: hard-light;
    -o-mix-blend-mode: hard-light;
    mix-blend-mode: hard-light;
}

/* MODALS */
.modal-narrative {
    background-color: none;
}
.modal-narrative .modal-content {
    color: #fff;
    background: none;
    pointer-events: none;
}
.modal-narrative p {
    margin: 0px;
}
.modal-narrative .display-1,
.modal-narrative .display-3 {
    font-weight: 700;
}
.modal-backdrop {
    background-color: #28448c;
}
.modal-backdrop.show {
    opacity: 0.75;
}

/*mobile (320px-425px)*/
@media (min-width: 320px) and (max-width: 425px) {
    .m_narrative_1, .c_narrative_1 {
        font-size: 1rem;
    } 

    .m_narrative_2, .c_narrative_2 {
        font-size: 1rem;
    } 

    #motivations-heading {
        font-size: 1rem;
    }

    #costs-heading {
        font-size: 0.9rem;
    }

    .migrant-motiv-narrative .migrant-cost-narrative {
        font-size: 1rem;
    }
}
/* Small devices (425px and up) */
@media (min-width: 425px) and (max-width: 633px) {
    #sort-by {
        font-size: 0.75rem;
        text-align: left;
    }

    #motivations-heading {
        font-size: 1.25rem;
    }
    #costs-heading{
        font-size: 1rem;
    }

    .m_narrative_1, .c_narrative_1 {
        font-size: 1rem;
    } 
}
/* Medium devices (tablets, 633px and up) */
@media (min-width: 633px) and (max-width: 768px) {
    #sort-by {
        font-size: 0.75rem;
        text-align: left;
    }

    #costs-heading, #motivations-heading {
        font-size: 1.7rem;
    }

    .m_narrative_1, .c_narrative_1 {
        font-size: 1rem;
    } 
}

@media (min-width: 768px) and (max-width: 992px) {
    #costs-heading, #motivations-heading {
        font-size: 1.7rem;
    }

    .m_narrative_1, .c_narrative_1 {
        font-size: 1.5rem;
    } 

    .m_narrative_2, .c_narrative_2 {
        font-size: 1.5rem !important;
    } 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #sort-by {
        font-size: 1.5rem;
        text-align: left;
    }

    .m_narrative_1, .c_narrative_1 {
        font-size: 2rem;
    } 

    .m_narrative_2, .c_narrative_2 {
        font-size: 1.75rem !important;
    } 

    #motivations-container, #cost-container {
        padding-left: 3vw;
        padding-right: 3vw;
    }

    #motivations-heading {
        font-size: 3rem;
    }

    #frame-motivations {
        padding-right: 4vh;
    }

    #costs-heading {
        font-size: 2.4rem;
    }

    #viz-container {
        /* max-height: calc(100vh - 480px); */
        height:100%;
    }

    #motivations-content, #cost-content {
        max-height: calc(100vh - 480px);
        height:100%;
        overflow: scroll;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

@media (max-aspect-ratio: 3/4) and (min-width: 768px) {
    #viz-container {
        /* max-height: calc(100vh - 354px); */
        height:100%;
    }

    #motivations-content, #cost-content {
        max-height: calc(100vh - 354px);
        height:100%;
        overflow: scroll;
    }
}

@media (max-aspect-ratio: 3/4) and (min-width: 992px) {
    #motivations-content, #cost-content {
        max-height: calc(100vh - 480px);
        height:100%;
        overflow: scroll;
    }

    #frame-motivations {
        padding-right: 0vh;
    }
}

@media (max-aspect-ratio: 2/3) and (min-width: 992px) {
    #motivations-content, #cost-content {
        max-height: calc(100vh - 560px);
        height:100%;
        overflow: scroll;
    }

    /* #frame-motivations {
        padding-right: 2vh;
    } */

}

@media (min-width: 992px) {
    #viz-container {
        /* max-height: calc(100vh - 560px); */
        height:100%;
    }

    #motivations-content, #cost-content {
        max-height: calc(100vh - 560px);
        height:100%;
        overflow: scroll;
    }

    #rotate-warning {
        font-size: 2rem;
    }
}


@media (orientation: landscape) {
    #viz-container {
        height:100%;
    }

    #motivations-content, #cost-content {
        max-height: calc(100vw - 300px);
        overflow: scroll;
    }

}