html > * {
    border: 0%;
    margin: 0%;
    height:100%;
    width: 56.25%;
    overflow: auto;
}

body{
    background-color: white;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: 0px;
}

/*Container*/

.content-block {
    height: 100vh;
    width: 100%;
    position: fixed;
}

#motivations {
    justify-content: center;
    max-width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

#viz-content {
    height:100%;
}

.px-xl-5 > * {
    padding-left: 0;
    padding-right: 0;
}


/* SVG TRANSITION ANIMATION */
div#transition {
    background-color: #0070ff;
    display: none;
}
#transition, .cell rect {
    transition: linear 0.3s all;
}
.grid-color {
    display: none;
}


.col {
    height: 100%;
}

/* BUTTON */

a.btn.btn-sm {
    color: black;
}

#btn-income {
    border-right: none;
    border-left: none;
}

/* Carousel */
#carousel-button {
    background-color: #28448c;
    width: 100vw;
    height: 30vh;
    bottom: 0;
    position: absolute;
}

#carousel-slides-motiv, #carousel-slides-costs {
    height:22vh;
}

.carousel-inner {
    height: 100%;
}

#carousel-slides {
    background-color: #28448c;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 22vh;
}

.carousel-item {
    height: 100%;
}


/* HEADING */
#costs-heading, #motivations-heading {
    font-size: 200%;
    font-weight: 500;
    padding-left:5%;
}

/*Motivation Containers*/
/*SORT BY BUTTONS*/
#sort-by {
    width: 15%;
    align-self: center;
    font-size: 170%;
    font-weight: 500;
    text-align: center;
}

#btn-motivs.active, #btn-income.active, #btn-cari.active {
    border: 2px solid black;
}

.col-6.px-0 {
    width: 25%;
    align-self: center;
}

.col-3.px-0 {
    width: 27%;
    align-self: center;
}

#buttons-motivations {
    position: absolute;
    bottom: 0;
    padding-top: 3%;
    padding-bottom: 2%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding-left:3%;

}

#buttons-motivations .btn {
    font-size: 170%;
    font-weight: 500;
    width: 95%;
}

/*Motivation Container*/
#frame-motivations, #frame-cost {
    padding-left: 5%;
    padding-right: 5%;
}

#motivations-container, #cost-container {
    display: flex;
    flex-direction: column;
    height:100%;
    max-width: 100%;
    overflow: scroll;
}

/* Button - arrow for slides */

#carousel-slides button {
    border: 0;
    background-color: #28448c;
    color: white;
    font-size: 250%;
    height: 10%;
    padding-right: 5%;
    padding-left: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
}

/*Narratives*/
.m_narrative_1, .c_narrative_1 {
    color: white;
    font-size: 4vmin;
    font-weight: 500;
    width: 100%;
    height: 100%;
} 

.m_narrative_2, .c_narrative_2 {
    color: white;
    font-size: 4vmin;
    font-weight: 500;
    width: 100%;
    height: 100%;
}

.migrant-unique-narrative > * {
    font-size: 4vmin;
    padding-right: 10%;
}

/* LABELS */
.chart-labels {
    display: none;
}
.chart-labels:hover {
    cursor: default;
}
#viz-motivations text {
    font-size: 1.4rem;
}
.chart-text text {
    fill: #1540C4;
}

/* SCROLLYTELLING */
#map-state-4 {
    padding-bottom: 0px;
}
#scene-0, #scene-1 {
    padding-top: 0px;
}
#narrative-scroll, 
#narrative-scroll .scenes,
#narrative-scroll .scenes div {
    pointer-events: none;
}
.scrolly-container-motivations .ribbon-image img {
    filter: grayscale(1);
    -webkit-mix-blend-mode: hard-light;
    -moz-mix-blend-mode: hard-light;
    -ms-mix-blend-mode: hard-light;
    -o-mix-blend-mode: hard-light;
    mix-blend-mode: hard-light;
}

/* MODALS */
.modal-narrative {
    background-color: none;
}
.modal-narrative .modal-content {
    color: #fff;
    background: none;
    pointer-events: none;
}
.modal-narrative p {
    margin: 0px;
}
.modal-narrative .display-1,
.modal-narrative .display-3 {
    font-weight: 700;
}
.modal-backdrop {
    background-color: #28448c;
}
.modal-backdrop.show {
    opacity: 0.75;
}

/*mobile (320px-425px)*/
@media (min-width: 320px) and (max-width: 425px) {
    .m_narrative_1, .c_narrative_1 {
        font-size: 100%;
    } 

    #motivations-heading, #costs-heading {
        font-size: 100%;
    }

    #buttons-motivations .btn {
        font-size: 70%;
        width: fit-content;
        height: fit-content;
    }

    #sort-by {
        font-size: 70%;
        text-align: center;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}

/* wide aspect ratio */
@media (min-aspect-ratio: 16/9) {

}