/* CAROUSEL */
#carousel {
    height: 30vh;
    transform: translateY(1px);
    transition: all 0.3s linear;
}

#carousel.motivations {
    background-color: #28448c;
}
#carousel.costs {
    background-color: #d2a214;
}

#carousel .carousel-caption {
    text-align: left!important;
    top: 4rem;
}

#carousel-slides {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.carousel-item {
    height: 100%;
    transition: all 0.3s linear;
}

/* NAV TABS */
#nav-tabs .btn {
    /* font-size: 1.5rem; */
    font-weight: 500;
    width: 100%;
    background-color: white;
    border-radius: 0px;
}
#nav-tabs .btn:not(#tab-about) {
    border-right: solid 2px #000;
}

#nav-tabs #tab-home.active,
#nav-tabs #tab-about.active {
    color: #fff;
    background-color: #000;
}

#nav-tabs #tab-motivations.active {
    color: #fff;
    background-color: #28448c;
}

#nav-tabs #tab-costs.active {
    color: #fff;
    background-color: #d2a214;
}

/*mobile (320px-425px)*/
@media (min-width: 320px) and (max-width: 425px) {
    #nav-tabs .btn {
        font-size: 0.75rem;
    }
}

@media (min-width: 425px) and (max-width: 633px) {
    #nav-tabs .btn {
        font-size: 0.75rem;
    }
}

@media (min-width: 633px) and (max-width: 768px) {
    #nav-tabs .btn {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    #nav-tabs .btn {
        font-size: 1.5rem;
    }
}