
#toggle-buttons-cost {
    height: 8vh;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
}

#toggle-buttons-cost .btn {
    height: 100%;
    width: 99%;
    font-size: 120%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    border-radius: 0px;
    float:left;
    background-color: white;
}

#toggle-buttons-cost #nav-btn-motivs.active {
    color: #fff;
    background-color: #28448c;
}

#toggle-buttons-cost #nav-btn-cost.active {
    color: #fff;
    background-color: #d2a214;
}

/*mobile (320px-425px)*/
@media (min-width: 320px) and (max-width: 425px) {
    #toggle-buttons-cost .btn {
        font-size: 85%;
    }
}