/* VIZ SORT BUTTONS */
.sort-by {
    width: 15%;
    align-self: center;
    /* font-size: 1.5rem; */
    font-weight: 500;
    text-align: center;
}

#btn-motivs.active, #btn-income.active, #btn-cari.active,
#channel.active, #country.active, #bee.active {
    border: 2px solid black;
}

.viz-btns {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    margin-left:0;
    border-radius: 0px ;
}

.viz-btns .btn {
    /* font-size: 1.5rem; */
    font-weight: 500;
    width: 100%;
}

/* RESPONSIVE DESIGN */
/*mobile (320px-425px)*/
@media (min-width: 320px) and (max-width: 425px) {
    .viz-btns .btn {
        font-size: 0.75rem;
        width: fit-content;
        height: fit-content;
    }

    .sort-by {
        font-size: 0.75rem;
        text-align: left;
    }
}
/* Small devices (425px and up) */
@media (min-width: 425px) and (max-width: 633px) {
    .viz-btns .btn-sm {
        font-size: 0.75rem;
    }
}
/* Medium devices (tablets, 633px and up) */
@media (min-width: 633px) and (max-width: 768px) {
    .viz-btns .btn-sm {
        height: 44px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .viz-btns .btn-sm {
        height: 54px;
        /* font-size: 0.875rem; */
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .viz-btns .btn-sm {
        height: 65px;
        font-size: 1.5rem;
    }
}