/* VIZ SORT BUTTONS */
.sort-by {
    font-size: 0.75rem;
    font-weight: 500;
}

/* MTWTF DESIGN */
/* #btn-motivs.active, #btn-income.active, #btn-cari.active,
#channel.active, #country.active, #bee.active {
    border: 2px solid black;
} */

.viz-btns {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    margin-left:0;
    border-radius: 0px ;
}

.viz-btns .btn {
    width: 100%;
    font-weight: 500;
    font-size: 1rem;
}

/* MOTIVATIONS BUTTONS */
#buttons-motivations .btn {
    color: #1540C4;
    background-color: #fff;
    border: solid 2px #1540C4;
    border-radius: 0px;
}
#buttons-motivations .btn.active {
    color: #fff;
    background-color: #1540C4;
}
#buttons-motivations #btn-income {
    border-right: none;
    border-left: none;
}

/* COST BUTTONS */
#buttons-cost .btn {
    color: #d2a214;
    background-color: #fff;
    border: solid 1.75px #d2a214;
    border-radius: 0px;
}
#buttons-cost .btn.active {
    color: #fff;
    background-color: #d2a214;
}
#buttons-cost #country {
    border-right: none;
    border-left: none;
}

/* COST BUTTONS TIMEOUT */
#timeout-note {
    left: 0px;
    top: -4rem;
    font-size: 1.5rem;
    transition: all 3s linear;
}
#timeout-note.inactive {
    display: none;
}

/* RESPONSIVE DESIGN */
/*mobile (320px-425px)*/
@media (min-width: 320px) and (max-width: 425px) {
    .viz-btns .btn {
        font-size: 0.75rem;
        width: fit-content;
        height: fit-content;
    }

    .sort-by {
        font-size: 0.75rem;
        text-align: left;
    }
}
/* Small devices (425px and up) */
@media (min-width: 425px) and (max-width: 633px) {
    .viz-btns .btn-sm {
        font-size: 0.75rem;
    }
}
/* Medium devices (tablets, 633px and up) */
@media (min-width: 633px) and (max-width: 768px) {
    .viz-btns .btn-sm {
        height: 44px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .viz-btns .btn-sm {
        height: 3.5rem;
        /* font-size: 0.875rem; */
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .viz-btns .btn-sm {
        height: 5rem;
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    .sort-by {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
}